#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh
}

body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  margin: 0;
  padding: 0;
}

h1 {
  color: #333;
  text-align: center;
}

.container {
  flex: 1;
  max-width: 600px;
  margin: 2rem auto;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

form {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

input[type="text"] {
  flex-grow: 1;
  padding: 10px;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid #ddd;
}

button {
  padding: 10px 15px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s;

}

button:hover {
  background-color: #0056b3;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background-color: #f1f1f1;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li.completed span {
  text-decoration: line-through;
  color: #888;
}

p {
  font-size: 12px;
  margin-bottom: 15px;
  color: #555;
  text-align: center;
}

.navbar {
  background-color: #007bff;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  margin-bottom: 2rem;

}

.navbar-brand h2 {
    margin: 0;
    display: inline-block;
    width: auto;
    vertical-align: middle;
}

.navbar-menu a {
    color: white;
    text-decoration: none;
    margin-left: 2rem;
    font-weight: 500;
}

.navbar-menu a:hover {
    color: #e0e0e0;
}

/* Footer Styles */
.footer {
    background-color: #171717;
    color: white;
    padding: 1.5rem 2rem;
    margin-top: auto;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-links a {
    color: white;
    text-decoration: none;
    margin-left: 1.5rem;
}

.footer-links a:hover {
    color: #007bff;
}

.navbar-logo {
  height: 25px;
  width: auto;
  display: inline-block;
  vertical-align: middle;
}

.copy-name {
  color: white;
}


